<div class="media" *ngIf="book">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="../../assets/book.png" alt="...">
    </a>
  </div>
  <div class="media-body">

    <!-- show book details without edit -->
    <div *ngIf="!edit">
      <h4>{{book.title | bookName}}</h4>

      <p><span >Author: {{book.author}}</span></p>

      <p><span >Date: {{book.date}}</span></p>

    </div>

    <!-- show editable book details -->
    <div *ngIf="edit">


      <form name="book" [formGroup]="editBookForm" class="form-horizontal" (ngSubmit)="save(editBookForm.value)" >

        <div class="col-md-12">
          <div class="form-group" [ngClass]="{'has-error':!editBookForm.controls['title'].valid}">
            <input type="text" id="title" class="form-control input-sm"
                   required
                   [formControl]="editBookForm.controls['title']"
                   name="title" [(ngModel)]="book.title">
            <div *ngIf="editBookForm.controls['title'].hasError('minlength') && editBookForm.controls['title'].touched" class="alert alert-danger">Title can not be empty.</div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!editBookForm.controls['author'].valid}">
            <input type="text" id="author" class="form-control input-sm"
                   required
                   [formControl]="editBookForm.controls['author']"
                   name="author" [(ngModel)]="book.author">
            <div *ngIf="editBookForm.controls['author'].hasError('minlength') && editBookForm.controls['author'].touched" class="alert alert-danger">Author name can not be empty.</div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!editBookForm.controls['date'].valid}">
            <input type="date" id="date" class="form-control input-sm"
                   required
                   [formControl]="editBookForm.controls['date']"
                   name="date" [(ngModel)]="book.date">
            <div *ngIf="editBookForm.controls['date'].hasError('minlength') && editBookForm.controls['date'].touched" class="alert alert-danger">Invalid Date.</div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success btn-sm" [disabled]="!editBookForm.valid"><span class="glyphicon glyphicon-ok"></span> Save</button>
          </div>
        </div>
      </form>

    </div>

    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <button type="button" class="btn btn-default" (click)="toggleEdit()"><span [ngClass]="{'glyphicon glyphicon-edit' : !edit}"></span> {{edit ? 'Cancel' : 'Edit'}}</button>
      <button type="button" class="btn btn-danger delete"
              (click)="modal.show(); $event.stopPropagation()"><span class="glyphicon glyphicon-remove"></span> Delete</button>
    </div>

  </div>
<hr />

  <app-modal>
    <div class="app-modal-header">
      Delete Confirmation
    </div>
    <div class="app-modal-body">
      Are you sure you want to delete {{ book.title }}?
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="modal.hide()">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="remove(book)">Yes</button>
    </div>
  </app-modal>

</div>
