<div class="media" *ngIf="book">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="../../assets/book.png" alt="...">
    </a>
  </div>
  <div class="media-body">

    <!-- show book details without edit -->
    <div *ngIf="!edit">
      <h4>{{book.title | bookName}}</h4>

      <p><span >Author: {{book.author}}</span></p>

      <p><span >Date: {{book.date}}</span></p>

    </div>

    <!-- show editable book details -->
    <div *ngIf="edit">


      <form class="form-horizontal">

        <div class="col-md-12">
          <div class="form-group">
            <input type="text" id="title" class="form-control input-sm"
                   required minlength="4" maxlength="24"
                   name="title" [(ngModel)]="book.title"
                   #name="ngModel" >
          </div>
          <div class="form-group">
            <input type="text" id="author" class="form-control input-sm"
                   required minlength="4" maxlength="24"
                   name="author" [(ngModel)]="book.author"
                   #name="ngModel" >
          </div>
          <div class="form-group">
            <input type="date" id="date" class="form-control input-sm"
                   required
                   name="date" [(ngModel)]="book.date"
                   #name="ngModel" >
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-success btn-sm" (click)="save()"><span class="glyphicon glyphicon-ok"></span> Save</button>
          </div>
        </div>
      </form>

    </div>

    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <button type="button" class="btn btn-default" (click)="toggleEdit()"><span [ngClass]="{'glyphicon glyphicon-edit' : !edit}"></span> {{edit ? 'Cancel' : 'Edit'}}</button>
      <button type="button" class="btn btn-danger delete"
              (click)="modal.show(); $event.stopPropagation()"><span class="glyphicon glyphicon-remove"></span> Delete</button>
    </div>

  </div>
<hr />

  <app-modal>
    <div class="app-modal-header">
      header
    </div>
    <div class="app-modal-body">
      Whatever content you like, form fields, anything
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </app-modal>

</div>
